html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}

header {
  background-color: #ffe500;
}

h1 {
  margin: 0;
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  color: #b20953;
  display:block;
  background-color: #ffe500;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  margin: .3em;
  padding: .3em;
  background-color: #b2a212;
  text-align: center;
  border-radius: 4px;
  font-size: 1.125rem;
}

a:link {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.875rem;
  color: #b20953;
  display:block;
}

img {
  display: inline-block;
}

p {
  display:block;
  font-size: 1.125rem;
}

footer {
  background-color: #ffe500;
  font-size: .75rem;
}
